Source: ros-indigo-warthog-desktop
Section: misc
Priority: extra
Maintainer: Tony Baltovski <tbaltovski@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: http://wiki.ros.org/warthog_desktop
Standards-Version: 3.9.2

Package: ros-indigo-warthog-desktop
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-warthog-msgs, ros-indigo-warthog-viz
Description: Packages for working with Warthog from a ROS desktop.
